flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fe17e052.59947",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "f9d3935b.cb5f7"
            ]
        ]
    },
    {
        "id": "197d75d6.4ecf1a",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "f9d3935b.cb5f7",
        "type": "python-function",
        "z": "3af82246.3634ae",
        "name": "",
        "func": "msg['payload'] =int(11111)\nreturn msg",
        "outputs": 1,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "197d75d6.4ecf1a"
            ]
        ]
    }
]